[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "resume/altacv"]
	path = resume/altacv
	url = https://github.com/liantze/AltaCV.git
