{{  $emojis := dict
    "caution" ":exclamation:"
    "important" ":information_source:"
    "note" ":information_source:"
    "tip" ":bulb:"
    "warning" ":information_source:"
}}

{{  $style := dict
    "caution" "background-color: rgba(255, 23, 68, 0.1); border-left: 5px solid #ff1744;"
    "important" "background-color: rgba(101, 31, 255, 0.1); border-left: 5px solid #651fff;"
    "note" "background-color: rgba(68, 138, 255, 0.1); border-left: 5px solid #448aff;"
    "tip" "background-color: rgba(0, 191, 165, 0.1); border-left: 5px solid #00bfa5;"
    "warning" "background-color: rgba(255, 145, 0, 0.1); border-left: 5px solid #ff9100;"
}}


{{ if eq .Type "alert" }}
<blockquote class="alert alert-{{ .AlertType }}" style="{{ index $style .AlertType }}">
    <p class="alert-heading">
    {{ transform.Emojify (index $emojis .AlertType) }}
    {{ with .AlertTitle }}
        {{ . }}
    {{ end }}
    </p>
    {{ .Text }}
</blockquote>
{{ else }}
<blockquote>
    {{ .Text }}
</blockquote>
{{ end }}

  